


body {
    display: flex;
    justify-content: center;
  }
  
  .main-container {
      background: linear-gradient(109.6deg, rgb(218, 185, 252) 11.2%, rgb(125, 89, 252) 91.1%);
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    height: 700px;
    width: 930px;
    /* background-color: red; */
    border-radius: 20px;
  }
  
  .main-container h1 {
    color: white;
    font-size: 50px;
  }

  .player-status {
    position: absolute;
    /* top: 15%; */
    top: 41%;
}
  
  .sub-m-Container {
    display: flex;
    /* flex-direction: column; */
    justify-content: flex-start;
    align-items: center;
    height: 560px;
    width: 897px;
    background-color: white;
    border-radius: 20px;
  }

  .left-bankroll, .right-bankroll {
   display: flex;
   width: 100%;
   justify-content: space-around;
  }

  .left-bankroll img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }

  .right-bankroll img {
    width: 50px;
    height: 50px;
  }
  
  #left-dice-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 560px;
    width: 448px;
    background-color: yellow;
    border-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-right: 1px solid black;
  }

  #right-dice-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 560px;
    width: 448px;
    background-color: rgb(109, 36, 218);
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid black;
  }
  
  #left-dice-div {
    display: flex;
    width: 57%;
    justify-content: space-around;
  }

    #right-dice-div {
        display: flex;
        width: 57%;
        justify-content: space-around;
    }
  
  .right-field-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 560px;
    width: 448px;
    /* background-color: green; */
    background-color: violet;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 1px solid black;
  }
  
  .dice {
    /* position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(45deg); */
    transition: transform .5s ease-in-out;
  }
  
  .left-dice {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(45deg);
  }
  
  .right-dice {
    position: relative;
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(45deg);
  }
  
  .face {
    position: absolute;
    width: 70px;
    height: 70px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    line-height: 70px;
    text-align: center;
    font-size: 1.4em;
  }
  
  .one {
    transform: translateZ(35px);
  }
  
  .six {
    transform: rotateY(180deg) translateZ(35px);
  }
  
  .three {
    transform: rotateY(90deg) translateZ(35px);
  }
  
  .four {
    transform: rotateY(-90deg) translateZ(35px);
  }
  
  .five {
    transform: rotateX(90deg) translateZ(35px);
  }
  
  .two {
    transform: rotateX(-90deg) translateZ(35px);
  }
  
  .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
  }
  
  .top-left {
    top: 10px;
    left: 10px;
  }
  
  .top-center {
    top: 10px;
    left: 30px;
  }
  
  .top-right {
    top: 10px;
    right: 10px;
  }
  
  .center {
    top: 30px;
    left: 30px;
  }
  
  .bottom-left {
    bottom: 10px;
    left: 10px;
  }
  
  .bottom-center {
    bottom: 10px;
    left: 30px;
  }
  
  .bottom-right {
    bottom: 10px;
    right: 10px;
  }
  
  /*  */
  
  
  
  
  
  /* Test for button */
  .container {
      border: 1px solid;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .link {
      position: relative;
      font-size: 1rem;
      background: #f7fafc;
      border-radius: 10px;
    }
    
    .text-block {
      position: relative;
      z-index: 10;
      display: block;
      padding: 15px 25px;
      overflow: hidden;
      font-weight: 500;
      line-height: 1.5;
      color: #2d3748;
      transition: color 0.3s ease-out;
      border: 2px solid #2d3748;
      border-radius: 0.5rem;
    }
    
    .text-block .background {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      padding: 15px 25px;
      border-radius: 0.5rem;
      background: #f7fafc;
    }
    
    .text-block .rotate {
      position: absolute;
      left: 0;
      width: 12rem;
      height: 12rem;
      margin-left: -0.5rem;
      transition: all 0.3s ease;
      transform-origin: top right;
      transform: rotate(-90deg) translateX(-100%) translateY(3rem);
      background: #2d3748;
    }
    
    .text-block .relative {
      position: relative;
    }
  
    #roll-button {
      position: absolute;
      left: 46%;
      bottom: 20%;
      display: flex;
      overflow: hidden;
      /* background: #fff; */
      width: 110px;
      height: 75px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    
    #roll-button .link {
      display: block;
      transition: color 0.3s;
    }
    
    #roll-button .link:hover .text-block {
      color: white;
    }
    
    #roll-button .link:hover .background {
      transform: translate(-100%, -100%);
    }
    
    #roll-button .link:hover .rotate {
      transform: rotate(0deg);
    }
    
    #roll-button .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: white;
      transition: transform 0.7s;
    }
    
    #roll-button .rotate {
      position: absolute;
      top: 0;
      left: 0;
      width: 92px;
      height: 100%;
      background: #2D3737;
      transform: rotate(-90deg);
      transition: transform 0.25s ease-in-out;
    }
      
    .bottom-right-btn-span {
      /* position: absolute;
      bottom: -2px;
      right: 38px;
      width: 53%;
      height: 3rem;
      margin-bottom: -0.25rem;
      margin-right: -0.25rem;
      transition: all 0.5s linear;
      background: #2D3737;
      border-radius: 0.5rem;
      transform: translateX(100%);
      transform: translateX(100%) translateY(30%); */
      position: absolute;
      /* bottom: -2px;
      right: 38px; */
      bottom: 0px;
      right: -2px;
      width: 98%;
      height: 3.2rem;
      margin-bottom: -0.25rem;
      margin-right: -0.25rem;
      transition: all 0.5s linear;
      background: #2D3737;
      border-radius: 0.5rem;
      /* transform: translateX(100%); */
      /* transform: translateX(63%) translateY(-7%); */
    }
  
  
  #roll-button .bottom-right-btn-span {
    transition: transform 0.17s linear;
  }
  
  #roll-button:hover .bottom-right-btn-span {
    transform: translateX(-10%) translateY(-10%);
  }
  
  /* end of test for button */
  
  
  
  
  /* roll trst */
  /* Hide all faces initially */
  
  
    